<h1 class="text-5xl text-teal-600 text-center font-bold">Welcome to BufferTweets</h1>

<%= button_to "Connect your Twitter", "/auth/twitter", method: :post, data: {turbo: false}, class: "mt-10 px-5 py-2.5 bg-teal-600 rounded-md text-white font-medium transition hover:bg-teal-700 dark:bg-teal-700 dark:hover:bg-teal-600" %>
