<% if defined?(form) && form %>
  <% if form.object.errors.any? %>
    <div class="absolute top-10 left-0 flex flex-col gap-3 z-10">
      <% form.object.errors.full_messages.each do |message| %>
        <div
          class="
            relative
            flex
            items-center
            justify-between
            gap-3
            p-4
            max-w-sm
            bg-red-100
            dark:bg-red-900
            rounded-lg
            text-sm
            text-red-800
            dark:text-red-50
          "
          role="alert"
        >
          <div class="flex items-center gap-1.5">
            <svg
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <p>
              <strong class="font-semibold">Error alert!</strong>
              <%= message %>
            </p>
          </div>
          <button
            type="button"
            data-dismiss="alert"
            aria-label="Close"
            class="
              justify-self-end
              text-red-800
              dark:text-gray-200
              hover:text-red-500
              dark:hover:text-gray-300
              focus-visible:text-red-600
              dark:focus-visible:text-gray-50
              focus-visible:outline-2
              focus-visible:outline-dashed
              focus-visible:outline-red-600
              dark:focus-visible:outline-gray-100
            "
            onclick="this.parentElement.remove()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
